// Lato_Light
@font-face {
  font-family: 'Lato_Light';
  src:  url('../fonts/Lato_Light/lato-light-webfont.woff2') format('woff2'),
        url('../fonts/Lato_Light/lato-light-webfont.woff') format('woff'),
        url('../fonts/Lato_Light/lato-light-webfont.ttf') format('truetype'),
        url('../fonts/Lato_Light/lato-light-webfont.svg#Lato_Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Lato_Regular
@font-face {
  font-family: 'Lato_Regular';
  src: url('../fonts/Lato_Regular/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/Lato_Regular/lato-regular-webfont.woff') format('woff'),
       url('../fonts/Lato_Regular/lato-regular-webfont.ttf') format('truetype'),
       url('../fonts/Lato_Regular/lato-regular-webfont.svg#Lato_Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Lato_Bold
@font-face {
  font-family: 'Lato_Bold';
  src: url('../fonts/Lato_Bold/lato-bold-webfont.woff2') format('woff2'),
       url('../fonts/Lato_Bold/lato-bold-webfont.woff') format('woff'),
       url('../fonts/Lato_Bold/lato-bold-webfont.ttf') format('truetype'),
       url('../fonts/Lato_Bold/lato-bold-webfont.svg#Lato_Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Lato_Black
@font-face {
  font-family: 'Lato_Black';
  src: url('../fonts/Lato_Black/lato-black-webfont.woff2') format('woff2'),
       url('../fonts/Lato_Black/lato-black-webfont.woff') format('woff'),
       url('../fonts/Lato_Black/lato-black-webfont.ttf') format('truetype'),
       url('../fonts/Lato_Black/lato-black-webfont.svg#Lato_Black') format('svg');
  font-weight: normal;
  font-style: normal;
}