.header {
  margin-top: 14px;
  margin-bottom: 30px;

  

  &__head {
    font-family: "Lato_black";
    font-size: 70px;

    @include laptop{
      font-size: 60px;
    }
  }

  &__desc {
    font-family: "Lato_black";
    font-size: 40px;

    @include laptop {
      font-size: 30px;
    }
  }
}

.logo {
  text-align: center;
  margin-bottom: 20px;
  &__link {
    display: inline-block;
  }

  @include tablets {
    border-bottom: 1px solid rgb(197, 186, 186);
    padding-bottom: 10px;
    margin-bottom: 35px;
  }
}