.benefits
  .benefits__first
    .benefits__seller Seller’s Benefits
      img(src="assets/images/content/hand1.png", alt="Hand" class="hand1")
    ul.seller__list
      li.seller__item Bigger market presence and inventory exposure
      li.seller__item An integrated communication system
      li.seller__item Convenient orders and payments online
      li.seller__item Improved sales efficiency to generate more sales
      li.seller__item Personalized statistics and business insights
  .benefits__second
    .benefits__buyer Buyer’s Benefits
      img(src="assets/images/content/hand2.png", alt="Hand" class="hand2")
    ul.buyer__list
      li.buyer__item Full transparency – documentation, tags, and prices
      li.buyer__item 100% legitimate and reliable inventory listings
      li.buyer__item An integrated communication system
      li.buyer__item Comprehensive part comparison tool
      li.buyer__item Personalized statistics and business insights
.trade Our vision is to make trading efficient, simple, and reliable, for the entire aerospace industry