.feedback
  .thanks
    .thanks__block
      .thanks__title Thank You! 
      .thanks__desc Your details have been sent and a representative from ePlane will be in contact with you shortly.
  img(src="assets/images/content/canopy.png", alt="Canopy" class="feedback__canopy")
  img(src="assets/images/content/cloud.png", alt="Cloud" class="feedback__cloud")
  img(src="assets/images/content/Package2.png", alt="package" class="feedback__package")
  .feedback__title Join us as a seller and takeoff with ePlane!
  .feedback__text List your parts today. No subscription fee is required. Leave your details to receive further information
  form.feedback__form
    .feedback__row
      input(type="text" name="firsname" required class="feedback__inp" placeholder="FirstName" autofocus)
      input(type="text" name="company" required class="feedback__inp" placeholder="Company")
      input(type="email", name="email" required class="feedback__inp" placeholder="eMail")
    .feedback__send
      button.feedback__btn Join as a Seller