.media
  img(src="assets/images/content/Package1.png", alt="Package2" class="media__package")
  .media__desc
    .media__head ePlane will offer an end to end marketplace, you can rely on.
    .media__text
      p Our goal is to connect buyers and sellers, on one convenient platform, benefiting all sides and giving more power to you!By streamlining the order process, ePlane will increase efficiency and productivity. 
      p ePlane will support four different transaction types – Buy, Repair, Exchange, and Loan - covering all of your sale and acquisition needs.
  .video
    video.video__play(controls="controls")
      source(src="assets/images/content/Anumals.mp4", type="video/mp4")
      source(src="assets/images/content/Anumals.webm", type="video/webm")