block variables

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="width=device-width, initial-scale=1.0" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		link(rel="stylesheet" href="./assets/styles/main.min.css")
		script(src='/assets/scripts/app.js' defer)
	body
		block content