header.header
	.container
		.logo
			a.logo__link(href="#" title="Логотип")
				img(src="assets/images/content/Logo.jpg" alt="Logo" class="logo__img")
		h1.header__head SOON,
		h2.header__desc You will enter a new eriiiiiia of aerospace eCommerce